body {
    margin: 0 6px;
    color: #696969 !important;
    line-height: 1.7em !important;
}

p {
    letter-spacing: 0.15em;
    font-size: 15px;
}

ul, ol {
    font-size: 15px; /* 确保与正文字体一致 */
    line-height: 1.7em; /* 与正文行高一致 */
}

h2 {
    text-align: center;
    border-bottom: 2px solid #00688B;
    margin: 2em 5em 0.5em !important;
    color: #00688B !important;
    font-size: 17px !important;
}

em {
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

strong, b {
    color: #01688B;
    margin: 0;
}

blockquote, q {
    border-left: 2px solid #008B8B !important;
    quotes: none;
    margin-top: -8px;
}

br {
    display: block;
    content: "";
    margin-bottom: 1.3em !important;
}
